<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/aj4lab02_03/src/br/com/globalcode/gui/EditorTexto.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.globalcode.gui.EditorTexto"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aj4lab02_03"/>
</launchConfiguration>
